<div class="text-center">
  <h2>{{name}}</h2>
  <p>{{description}}</p>
  <p>Created by {{user.name}} on {{format_date date_created}}</p>
  <p>
    <span class="dollar-amount"><a href="/paper/{{paper.id}}">{{paper_url}}</a></span>
  </p>
  <p>
    <button class="btn btn-primary">Add Comment</button>
  </p>
</div>